@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color-background: var(--color-slate-200);
  --color-foreground: var(--color-slate-800);
  --color-nav-background: var(--color-slate-100);
  --spacing-nav-header: var(--nav-height);
  --spacing-main: var(--main-height);
  --font-mono: 'Source Code Pro', SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', monospace;
}

:root {
  --nav-height: 4rem;
  --main-height: calc(100vh - var(--nav-height));
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: 'Inter Tight', sans-serif;
  }
}
