@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color-background: var(--color-slate-100);
  --color-foreground: var(--color-slate-800);
  --spacing-nav-header: var(--nav-height);
}

:root {
  --nav-height: 4rem;
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: 'Inter Tight', sans-serif;
  }
}
